@import '../../../../styles/variables.scss';

.root {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  background-color: var(--bg-light);
  box-shadow: var(--cart-shadow);
  border-radius: 0 0 var(--bd-radius) var(--bd-radius);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-prim);
  border-radius: 10px;
  padding: 10px;
  width: 149px;
  transition: 0.3s;
  cursor: pointer;

  .day {
    margin-bottom: 7px;
    font-size: 18px;
    color: var(--c-dark);
  }

  .day__info {
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--c-base);
  }
  .img {
    margin-bottom: 12px;
  }

  .temp__day {
    font-size: 18px;
    color: var(--c-dark);
  }

  .temp__night {
    font-size: 13px;
    color: var(--c-base);
    margin-bottom: 6px;
  }
  .info {
    font-size: 13px;
    color: var(--c-base);
  }

  &:hover {
    box-shadow: var(--cart-shadow);
  }
}

.tabs {
  display: flex;
  justify-content: space-between;

  margin-bottom: 7px;
}

.cancel,
.tab {
  box-shadow: var(--cart-shadow);
  border-radius: 5px;
  padding: 9px 20px;
  background-color: var(--bg-light);
  color: var(--c-dark);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  cursor: pointer;
}

.cancel {
  margin-right: 0;
}

.tab {
  &.active {
    background: var(--c-prim);
    color: #fff;
  }
}

.tabs__wrapper {
  display: flex;
}
