body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#root {
  padding: var(--root-p, 0);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
