@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import '~normalize.css';

@import './root';

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#root {
  padding: var(--root-p, 0);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
