.root {
}

.wrapper_1 {
  margin: 10px 0 30px;
  gap: var(--t-gap);
  display: flex;
  align-items: flex-start;
  > * {
    align-self: stretch;
  }
}
.wrapper_2 {
  margin: 10px 0 30px;
  gap: calc(var(--t-gap) / 3);
  display: flex;
  flex-direction: column;
}
