.root {
  position: relative;
  z-index: 800;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.wrapper {
  gap: var(--t-gap);
  display: flex;
  align-items: center;
  padding: 10px 0;
  > * {
    display: flex;
    flex-direction: column;
  }
}

.logo {
  svg {
    width: 65px;
    height: auto;
  }
}
